interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.intuit.com/.well-known/openid_sandbox_configuration/
  response:
    body:
      string: "\r\n{  \r\n   \"issuer\":\"https://oauth.platform.intuit.com/op/v1\",\r\n
        \  \"authorization_endpoint\":\"https://appcenter.intuit.com/connect/oauth2\",\r\n
        \  \"token_endpoint\":\"https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer\",\r\n
        \  \"userinfo_endpoint\":\"https://sandbox-accounts.platform.intuit.com/v1/openid_connect/userinfo\",\r\n
        \  \"revocation_endpoint\":\"https://developer.api.intuit.com/v2/oauth2/tokens/revoke\",\r\n
        \  \"jwks_uri\":\"https://oauth.platform.intuit.com/op/v1/jwks\",\r\n   \"response_types_supported\":[
        \ \r\n      \"code\"\r\n   ],\r\n   \"subject_types_supported\":[  \r\n      \"public\"\r\n
        \  ],\r\n   \"id_token_signing_alg_values_supported\":[  \r\n      \"RS256\"\r\n
        \  ],\r\n   \"scopes_supported\":[  \r\n      \"openid\",\r\n      \"email\",\r\n
        \     \"profile\",\r\n      \"address\",\r\n      \"phone\"\r\n   ],\r\n   \"token_endpoint_auth_methods_supported\":[
        \ \r\n      \"client_secret_post\",\r\n      \"client_secret_basic\"\r\n   ],\r\n
        \  \"claims_supported\":[  \r\n      \"aud\",\r\n      \"exp\",\r\n      \"iat\",\r\n
        \     \"iss\",\r\n      \"realmid\",\r\n      \"sub\"\r\n   ]\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"665940ee6c04a65f93fc17b219716c4e"'
      Last-Modified:
      - Wed, 18 Mar 2020 03:21:12 GMT
      intuit_tid:
      - 1-68f7c703-2585187601d7e16332c4bbe2
      x-amz-version-id:
      - _xvn_QQfrEn7kCmtCPMTn2sEfdRqhpyB
      x-spanid:
      - 1a87f529-09cf-ac01-78e2-c091f5f69c48
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
  response:
    body:
      string: '{"x_refresh_token_expires_in": 8724698, "refresh_token": "refresh_token",
        "access_token": "access_token", "token_type": "bearer", "expires_in": 3600}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      intuit_tid:
      - 1-68f7c704-5b54947059ea92b1100ded73
      x-spanid:
      - 1aaa5971-46fa-20a7-e868-1f8efce4b85f
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Account STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Account":[{"Name":"Accounts
        Payable","SubAccount":false,"FullyQualifiedName":"Accounts Payable","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":-734.51,"CurrentBalanceWithSubAccounts":-734.51,"CurrencyRef":{"value":"CAD","name":"Canadian
        Dollar"},"domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2025-09-12T21:48:10-07:00","LastUpdatedTime":"2025-09-13T00:10:14-07:00"}},{"Name":"Accounts
        Payable (A/P) - EUR","SubAccount":false,"FullyQualifiedName":"Accounts Payable
        (A/P) - EUR","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"EUR","name":"Euro"},"domain":"QBO","sparse":false,"Id":"96","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T06:32:24-07:00","LastUpdatedTime":"[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Department STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{},"bId":"bid1"}],"time":"2025-10-21T10:46:47.211-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c706-3adaa99d317d96db3afbec3f
      x-spanid:
      - 3d339c6c-595a-6f4a-49ee-e6a20c3371a6
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from PaymentMethod STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"PaymentMethod":[{"Name":"Cash","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:10-07:00","LastUpdatedTime":"2025-08-08T10:27:10-07:00"}},{"Name":"Cheque","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:10-07:00","LastUpdatedTime":"2025-08-08T10:27:10-07:00"}},{"Name":"Credit
        Card","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:10-07:00","LastUpdatedTime":"2025-08-08T10:27:10-07:00"}},{"Name":"Direct
        Debit","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:10-07:00","LastUpdatedTime":"2025-08-08T10:27:10-07:00"}}],"startPosition":1,"maxResults":4},"bId":"bid1"}],"time":"2025-10-21T10:46:48.315-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c708-6956272870e8296b3e031a61
      x-spanid:
      - b81d675e-ea2c-a870-ae87-a27248f029e7
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from TaxCode STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"TaxCode":[{"Name":"Exempt","Description":"Tax-exempt","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"2","name":"GST
        ES"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"1","name":"GST
        EP"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-09-12T21:58:46-07:00","LastUpdatedTime":"2025-09-12T21:58:46-07:00"}},{"Name":"GST/HST
        Adjustment","Description":"Tax adjustment","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"domain":"QBO[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Currency STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CompanyCurrency":[{"Code":"HKD","Name":"Hong
        Kong Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-09-12T22:40:39-07:00","LastUpdatedTime":"2025-09-12T22:40:39-07:00"}},{"Code":"EUR","Name":"Euro","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-09-12T21:58:05-07:00","LastUpdatedTime":"2025-09-12T21:58:05-07:00"}},{"Code":"USD","Name":"United
        States Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-09-12T21:58:05-07:00","LastUpdatedTime":"2025-09-12T21:58:05-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-10-21T10:46:51.842-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c70b-5c9a1a9770d465b7592a264a
      x-spanid:
      - 5950b32b-c966-77da-8ec1-99d573a15b76
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Class STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Class":[{"Name":"Admin","SubClass":false,"FullyQualifiedName":"Admin","Active":true,"domain":"QBO","sparse":false,"Id":"200200000000000016357","SyncToken":"0","MetaData":{"CreateTime":"2025-09-13T13:00:50-07:00","LastUpdatedTime":"2025-09-13T13:00:50-07:00"}},{"Name":"East","SubClass":false,"FullyQualifiedName":"East","Active":true,"domain":"QBO","sparse":false,"Id":"200200000000000016355","SyncToken":"0","MetaData":{"CreateTime":"2025-09-13T12:51:19-07:00","LastUpdatedTime":"2025-09-13T12:51:19-07:00"}},{"Name":"North","SubClass[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Term STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Term":[{"Name":"Due on receipt","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:08-07:00","LastUpdatedTime":"2025-08-08T10:27:08-07:00"}},{"Name":"Net
        15","Active":true,"Type":"STANDARD","DueDays":15,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:08-07:00","LastUpdatedTime":"2025-08-08T10:27:08-07:00"}},{"Name":"Net
        30","Active":true,"Type":"STANDARD","DueDays":30,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:09-07:00","LastUpdatedTime":"2025-08-08T10:27:09-07:00"}},{"Name":"Net
        60","Active":true,"Type":"STANDARD","DueDays":60,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2025-08-08T10:27:09-07:00","LastUpdatedTime":"2025-08-08T10:27:09-07:00"}}],"startPosition":1,"maxResults":4},"bId":"bid1"}],"time":"2025-10-21T10:46:54.594-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c70d-161d2493382ff21a617677db
      x-spanid:
      - 37eb8fb8-5d92-fce6-24c4-be7a5761bcdb
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Type=''Category''
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Employee events","Active":true,"FullyQualifiedName":"Employee
        events","Type":"Category","domain":"QBO","sparse":false,"Id":"23","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T09:30:49-07:00","LastUpdatedTime":"2025-10-16T09:32:35-07:00"}},{"Name":"General
        services","Active":true,"FullyQualifiedName":"General services","Type":"Category","domain":"QBO","sparse":false,"Id":"22","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T09:30:38-07:00","LastUpdatedTime":"2025-10-16T09:32:21-07:00"}},{"Name":"Badges","Active":true,"SubItem":true,"ParentRef":{"value":"22","name":"General
        services"},"Level":1,"FullyQualifiedName":"General services:Badges","Type":"Category","domain":"QBO","sparse":false,"Id":"27","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T09:31:32-07:00","LastUpdatedTime":"2025-10-16T09:32:57-07:00"}},{"Name":"Holiday
        party","Active":true,"FullyQualifiedName":"Holiday party","Type":"Category","domain":"QBO","sparse":false,"Id":"24","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T09:30:57-07:00","LastUpdatedTime":"2025-10-16T09:32:47-07:00"}},{"Name":"Promotional
        items","Active":true,"FullyQualifiedName":"Promotional items","Type":"Category","domain":"QBO","sparse":false,"Id":"25","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T09:31:08-07:00","LastUpdatedTime":"2025-10-16T09:33:08-07:00"}},{"Name":"Retreat","Active":true,"FullyQualifiedName":"Retreat","Type":"Category","domain":"QBO","sparse":false,"Id":"26","SyncToken":"0","MetaData":{"CreateTime":"2025-10-16T09:31:19-07:00","LastUpdatedTime":"2025-10-16T09:33:18-07:00"}}],"startPosition":1,"maxResults":6},"bId":"bid1"}],"time":"2025-10-21T10:46:55.705-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c70f-2d3839150c39c1e11e8a7a92
      x-spanid:
      - 546cb58c-a81e-f0ed-a03c-759ef82e2601
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName, SyncToken from
      Customer where DisplayName in (''Adwin Ko'') STARTPOSITION 0 MAXRESULTS 100",
      "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Customer":[{"sparse":true,"Id":"1","SyncToken":"0","DisplayName":"Adwin
        Ko"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-10-21T10:46:58.129-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c711-00a430700f56480250a97751
      x-spanid:
      - 919b617f-d44e-ff26-c8a9-feac3105e510
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"bId": "0", "operation": "create", "Invoice": {"CustomerRef":
      {"value": "1", "name": "Adwin Ko"}, "CustomerMemo": {"value": "Description test"},
      "BillAddr": {"Line1": "6412 av des Erables", "Line2": "line2", "Line3": "lin3",
      "City": "Vancouver", "CountrySubDivisionCode": "BC", "PostalCode": "V5M 5M5",
      "Country": "CA"}, "ShipAddr": {"Line1": "6412 av des Erables", "Line2": "line2",
      "Line3": "lin3", "City": "Vancouver", "CountrySubDivisionCode": "BC", "PostalCode":
      "V5M 5M5", "Country": "CA"}, "Line": [{"DetailType": "SalesItemLineDetail",
      "SalesItemLineDetail": {"ItemRef": {"value": "14", "name": "Pens"}, "TaxCodeRef":
      {"value": "5", "name": "HST ON"}, "Qty": 5.0, "UnitPrice": 10.0, "ServiceDate":
      "2025-10-21T00:00:00"}, "Amount": 50.0, "Description": "Description 1"}, {"DetailType":
      "SalesItemLineDetail", "SalesItemLineDetail": {"ItemRef": {"value": "12", "name":
      "Pad folios"}, "TaxCodeRef": {"value": "2", "name": "Exempt"}, "Qty": 1.0, "UnitPrice":
      70.0, "ServiceDate": "2025-10-21T00:00:00"}, "Amount": 70.0, "Description":
      "Description 2"}, {"DetailType": "DiscountLineDetail", "Amount": 10.0, "DiscountLineDetail":
      {"PercentBased": false}}], "DocNumber": "TEST-INV-V-2114", "ExchangeRate": 1.0,
      "TxnDate": "2025-10-21T00:00:00", "DueDate": "2025-10-31T00:00:00", "ShipDate":
      "2025-10-31T00:00:00", "PrivateNote": "Notes bla bla"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/9341455527674647/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"Invoice":{"AllowIPNPayment":false,"AllowOnlinePayment":false,"AllowOnlineCreditCardPayment":false,"AllowOnlineACHPayment":false,"domain":"QBO","sparse":false,"Id":"188","SyncToken":"0","MetaData":{"CreateTime":"2025-10-21T10:47:02-07:00","LastModifiedByRef":{"value":"9341455527674681"},"LastUpdatedTime":"2025-10-21T10:47:02-07:00"},"CustomField":[],"DocNumber":"TEST-INV-V-2114","TxnDate":"2025-10-21","CurrencyRef":{"value":"CAD","name":"Canadian
        Dollar"},"ExchangeRate":1,"PrivateNote":"Notes bla bla","LinkedTxn":[],"Line":[{"Id":"1","LineNum":1,"Description":"Description
        1","Amount":50.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ServiceDate":"2025-10-21","ItemRef":{"value":"14","name":"Promotional
        items:Pens"},"UnitPrice":10,"Qty":5,"ItemAccountRef":{"value":"35","name":"Billable
        Expenses Income"},"TaxCodeRef":{"value":"5"}},"CustomExtensions":[]},{"Id":"2","LineNum":2,"Description":"Description
        2","Amount":70.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ServiceDate":"2025-10-21","ItemRef":{"value":"12","name":"Promotional
        items:Pad folios"},"UnitPrice":70,"Qty":1,"ItemAccountRef":{"value":"35","name":"Billable
        Expenses Income"},"TaxCodeRef":{"value":"2"}},"CustomExtensions":[]},{"Amount":120.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}},{"Amount":10.00,"DetailType":"DiscountLineDetail","DiscountLineDetail":{"PercentBased":false,"DiscountAccountRef":{"value":"28","name":"Discounts
        given"}}}],"TxnTaxDetail":{"TotalTax":5.96,"TaxLine":[{"Amount":0,"DetailType":"TaxLineDetail","TaxLineDetail":{"TaxRateRef":{"value":"2"},"PercentBased":true,"TaxPercent":0,"NetAmountTaxable":64.17}},{"Amount":5.96,"DetailType":"TaxLineDetail","TaxLineDetail":{"TaxRateRef":{"value":"12"},"PercentBased":true,"TaxPercent":13,"NetAmountTaxable":45.83}}]},"CustomerRef":{"value":"1","name":"Adwin
        Ko"},"CustomerMemo":{"value":"Description test"},"BillAddr":{"Id":"71","Line1":"6412
        av des Erables","Line2":"line2","Line3":"lin3","City":"Vancouver","Country":"CA","CountrySubDivisionCode":"BC","PostalCode":"V5M
        5M5"},"ShipAddr":{"Id":"72","Line1":"6412 av des Erables","Line2":"line2","Line3":"lin3","City":"Vancouver","Country":"CA","CountrySubDivisionCode":"BC","PostalCode":"V5M
        5M5"},"FreeFormAddress":false,"ShipFromAddr":{"Id":"73","Line1":"5100 Spectrum
        Way","Line2":"Cooksville ON  L4W 5S2"},"DueDate":"2025-10-31","ShipDate":"2025-10-31","GlobalTaxCalculation":"TaxExcluded","TotalAmt":115.96,"HomeTotalAmt":115.96,"PrintStatus":"NeedToPrint","EmailStatus":"NotSet","Balance":115.96,"HomeBalance":115.96},"bId":"0"}],"time":"2025-10-21T10:47:02.134-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68f7c715-162a24f53de0445b1edee4dc
      x-spanid:
      - 6ce9b4c4-e6c9-7fc4-4ac0-a5b39117552a
    status:
      code: 200
      message: OK
version: 1
