interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.intuit.com/.well-known/openid_sandbox_configuration/
  response:
    body:
      string: "\r\n{  \r\n   \"issuer\":\"https://oauth.platform.intuit.com/op/v1\",\r\n
        \  \"authorization_endpoint\":\"https://appcenter.intuit.com/connect/oauth2\",\r\n
        \  \"token_endpoint\":\"https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer\",\r\n
        \  \"userinfo_endpoint\":\"https://sandbox-accounts.platform.intuit.com/v1/openid_connect/userinfo\",\r\n
        \  \"revocation_endpoint\":\"https://developer.api.intuit.com/v2/oauth2/tokens/revoke\",\r\n
        \  \"jwks_uri\":\"https://oauth.platform.intuit.com/op/v1/jwks\",\r\n   \"response_types_supported\":[
        \ \r\n      \"code\"\r\n   ],\r\n   \"subject_types_supported\":[  \r\n      \"public\"\r\n
        \  ],\r\n   \"id_token_signing_alg_values_supported\":[  \r\n      \"RS256\"\r\n
        \  ],\r\n   \"scopes_supported\":[  \r\n      \"openid\",\r\n      \"email\",\r\n
        \     \"profile\",\r\n      \"address\",\r\n      \"phone\"\r\n   ],\r\n   \"token_endpoint_auth_methods_supported\":[
        \ \r\n      \"client_secret_post\",\r\n      \"client_secret_basic\"\r\n   ],\r\n
        \  \"claims_supported\":[  \r\n      \"aud\",\r\n      \"exp\",\r\n      \"iat\",\r\n
        \     \"iss\",\r\n      \"realmid\",\r\n      \"sub\"\r\n   ]\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"665940ee6c04a65f93fc17b219716c4e"'
      Last-Modified:
      - Wed, 18 Mar 2020 03:21:12 GMT
      intuit_tid:
      - 1-68a89143-7e97c8f571e69a992ef3ab80
      x-amz-version-id:
      - _xvn_QQfrEn7kCmtCPMTn2sEfdRqhpyB
      x-spanid:
      - 9c479614-15b2-8483-007d-6a1daa44caec
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
  response:
    body:
      string: '{"expires_in": 3600, "token_type": "bearer", "refresh_token": "refresh_token",
        "access_token": "access_token", "x_refresh_token_expires_in": 8726291}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      intuit_tid:
      - 1-68a89145-27bedbf51d5e9b571a6d72d4
      x-spanid:
      - 9c9ad3f0-605b-9219-5be4-8a266a3933c3
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Account STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Account":[{"Name":"Accounts
        Payable (A/P)","SubAccount":false,"Description":"Description for myself","FullyQualifiedName":"Accounts
        Payable (A/P)","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":-44026.55,"CurrentBalanceWithSubAccounts":-44026.55,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"1","MetaData":{"CreateTime":"2021-02-11T10:12:02-08:00","LastUpdatedTime":"2025-08-22T05:10:46-07:00"}},{"Name":"Accounts
        Payable (A/P) - EUR","SubAccount":false,"FullyQualifiedName":"Accounts Payable
        (A/P) - EUR","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":100.00,"CurrentBalanceWithSubAccounts":100.00,"CurrencyRef":{"value":"EUR","name":"Euro"},"domain":"QBO","sparse":false,"Id":"109","SyncToken":"0","MetaData":{"CreateTime":"2025-06-26T05:52:50-07:00","LastUpdatedTime":"2025-06-26T05:52:50-07:00"}},{"Name":"Accounts
        Receivable (A/R)","SubAccount":false,"FullyQualifiedName":"Accounts Receivable
        (A/R)","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"1234","CurrentBalance":-40486872.02,"CurrentBalanceWithSubAccounts":-40486872.02,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"84","SyncToken":"1","MetaData":{"CreateTime":"2021-02-15T14:49:29-08:00","LastUpdatedTime":"2025-08-22T05:08:47-07:00"}},{"Name":"Azmat
        Ali","SubAccount":true,"ParentRef":{"value":"84"},"Description":"Azmat''s
        Account Receiveable","FullyQualifiedName":"Accounts Receivable (A/R):Azmat
        Ali","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"167","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"1150040004","SyncToken":"0","MetaData":{"CreateTime":"2025-07-08T06:21:35-07:00[...]
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Department STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Department":[{"Name":"A happy
        department","SubDepartment":false,"FullyQualifiedName":"A happy department","Active":true,"domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:59-07:00","LastUpdatedTime":"2025-06-18T10:24:33-07:00"}},{"Name":"Child
        of Happy Department","SubDepartment":true,"ParentRef":{"value":"4"},"FullyQualifiedName":"A
        happy department:Child of Happy Department","Active":true,"domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2025-06-18T10:24:33-[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from PaymentMethod STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"PaymentMethod":[{"Name":"American
        Express","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:42:05-08:00","LastUpdatedTime":"2021-02-10T14:42:05-08:00"}},{"Name":"Apple
        Card","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"14","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:07-07:00","LastUpdatedTime":"2023-03-14T17:48:07-07:00"}},{"Name":"Cash","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0",[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from CustomerType STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CustomerType":[{"Name":"Enterprise","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054673","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:33:10-08:00","LastUpdatedTime":"2023-02-28T23:33:10-08:00"}},{"Name":"Recurring","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054672","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:01:49-08:00","LastUpdatedTime":"2023-02-28T23:01:49-08:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-22T08:48:28.843-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a8914c-3c6e9d2b6fa31c5d77ea4d6c
      x-spanid:
      - c14a0ce5-17fe-2a3b-9ee2-d4f3fbf7e9d3
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from TaxCode STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"TaxCode":[{"Name":"TAX","Description":"TAX","Taxable":true,"TaxGroup":false,"Id":"TAX","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"NON","Description":"NON","Taxable":false,"TaxGroup":false,"Id":"NON","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"CustomSalesTax","Description":"CustomSalesTax","Taxable":true,"TaxGroup":true,"Id":"CustomSalesTax","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"Atax","Description":"Atax","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"5","name":"myNewTaxRateName2"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigType":"USER_DEFINED","domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2023-04-11T09:22:33-07:00","LastUpdatedTime":"2023-04-11T09:22:33-07:00"}},{"Name":"Atax
        test","Description":"Atax test","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"7","name":"myNewTaxRateName2
        test"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigTyp[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Currency STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CompanyCurrency":[{"Code":"GBP","Name":"British
        Pound Sterling","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-05-29T05:39:53-07:00","LastUpdatedTime":"2025-05-29T05:39:53-07:00"}},{"Code":"EUR","Name":"Euro","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:15-07:00","LastUpdatedTime":"2025-05-22T19:25:15-07:00"}},{"Code":"CAD","Name":"Canadian
        Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:14-07:00","LastUpdatedTime":"2025-05-22T19:25:14-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-08-22T08:48:31.649-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a8914f-2f7594d14ac6e5e476f09612
      x-spanid:
      - 99e429fd-e823-597e-bc3b-3cceb89a58c3
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Class STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Class":[{"Name":"A sub-class-BK","SubClass":true,"ParentRef":{"value":"5000000000000275720"},"FullyQualifiedName":"Test
        class:A sub-class-BK","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275722","SyncToken":"1","MetaData":{"CreateTime":"2023-03-15T09:56:55-07:00","LastUpdatedTime":"2025-08-11T14:19:28-07:00"}},{"Name":"Another
        class","SubClass":false,"FullyQualifiedName":"Another class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275721","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:56:46-07:00","LastUpdatedTime":"2023-03-15T09:56:46-07:00"}},{"Name":"BK
        Cl[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Term STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Term":[{"Name":"Due on receipt","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Due
        on receipt test","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"7","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        10","Active":true,"Type":"STANDARD","DueDays":10,"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2021-02-15T15:24:26-08:00","LastUpdatedTime":"2021-02-15T15:24:26-08:00"}},{"Name":"Net
        10 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":24,"domain":"QBO","sparse":false,"Id":"8","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        15","Active":true,"Type":"STANDARD","DueDays":15,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Net
        15 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":30,"domain":"QBO"[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Type=''Category''
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Buds","Active":true,"FullyQualifiedName":"Buds","Type":"Category","domain":"QBO","sparse":false,"Id":"55","SyncToken":"0","MetaData":{"CreateTime":"2025-08-13T08:17:02-07:00","LastUpdatedTime":"2025-08-13T08:18:50-07:00"}},{"Name":"Test
        Cat","Active":true,"FullyQualifiedName":"Test Cat","Type":"Category","domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2023-05-16T05:20:04-07:00","LastUpdatedTime":"2024-03-14T10:21:45-07:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-22T08:48:35.790-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a89153-15b67478610aaa576f6202d0
      x-spanid:
      - a91e23aa-c4d9-bc38-5f43-cb573a09e2e9
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DocNumber, SyncToken from VendorCredit
      where Id in (''8458'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"VendorCredit":[{"sparse":true,"Id":"8458","SyncToken":"7"}],"startPosition":1,"maxResults":1,"totalCount":1},"bId":"bid1"}],"time":"2025-08-22T08:48:37.261-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a89155-45c593957245263361d5c26d
      x-spanid:
      - 2514d006-5c1f-24d2-027f-8a7a9358b41d
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName, SyncToken from
      Vendor where Id in (''141'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Vendor":[{"sparse":true,"Id":"141","SyncToken":"0","DisplayName":"Azmat
        Vendor"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-22T08:48:38.824-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a89156-172c0402353c17dc17d5fbfc
      x-spanid:
      - 973a7cf0-6a88-537f-40a3-2cd28672f156
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Sku in (''hoodiewh'')
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Gluestick
        White","Sku":"hoodiewh","Description":"Long Carrots","Active":true,"FullyQualifiedName":"Gluestick
        White","Taxable":true,"UnitPrice":15,"Type":"Inventory","IncomeAccountRef":{"value":"92","name":"Recurring"},"PurchaseDesc":"Long
        Carrots","PurchaseCost":5,"ExpenseAccountRef":{"value":"80","name":"Cost of
        Goods Sold"},"AssetAccountRef":{"value":"81","name":"Inventory Asset"},"TrackQtyOnHand":true,"QtyOnHand":49,"InvStartDate":"2022-09-09","TaxClassificationRef":{"value":"EUC-09020802-V1-00120000","name":"General
        taxable retail products - use this if nothing else fits"},"domain":"QBO","sparse":false,"Id":"20","SyncToken":"3","MetaData":{"CreateTime":"2022-09-09T12:34:04-07:00","LastUpdatedTime":"2025-08-22T08:47:34-07:00"}}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-22T08:48:42.062-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a89159-6075087e4b4ba2034c51ca9d
      x-spanid:
      - f105365e-626b-5688-0f74-f0777d72c100
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"bId": "0", "operation": "update", "VendorCredit":
      {"Id": "8458", "SyncToken": "7", "sparse": true, "VendorRef": {"value": "141",
      "name": "Azmat Vendor"}, "DepartmentRef": {"value": "6", "name": "Child of Happy
      Department"}, "Line": [{"DetailType": "ItemBasedExpenseLineDetail", "ItemBasedExpenseLineDetail":
      {"ItemRef": {"value": "20", "name": "Gluestick White"}, "Qty": 1.0, "UnitPrice":
      5.0}, "Amount": 5.0, "Description": "Long Carrots"}], "TxnDate": "2025-08-19T00:00:00+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"VendorCredit":{"VendorAddr":{"Id":"690","Line1":"Azmat
        Ali Vendor","Line2":"Azmat Vendor","Line3":"15 B, B Lock","Line4":"DHA phase
        5","Line5":"Lahore, Punjab  5400 Pakistan"},"Balance":5.00,"domain":"QBO","sparse":false,"Id":"8458","SyncToken":"8","MetaData":{"CreateTime":"2025-08-19T05:31:30-07:00","LastUpdatedTime":"2025-08-22T08:48:44-07:00"},"TxnDate":"2025-08-19","DepartmentRef":{"value":"6","name":"A
        happy department:Child of Happy Department"},"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"ExchangeRate":1,"Line":[{"Id":"17","LineNum":1,"Description":"Long
        Carrots","Amount":5.00,"DetailType":"ItemBasedExpenseLineDetail","ItemBasedExpenseLineDetail":{"BillableStatus":"NotBillable","ItemRef":{"value":"20","name":"Gluestick
        White"},"UnitPrice":5,"Qty":1,"TaxCodeRef":{"value":"NON"}},"CustomExtensions":[]}],"VendorRef":{"value":"141","name":"Azmat
        Vendor"},"APAccountRef":{"value":"33","name":"Accounts Payable (A/P)"},"TotalAmt":5.00},"bId":"0"}],"time":"2025-08-22T08:48:43.872-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a8915b-6fb697b53fb7159961c22077
      x-spanid:
      - 6be78897-9b09-0919-6671-8ba7d7c599fd
    status:
      code: 200
      message: OK
version: 1
