interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.intuit.com/.well-known/openid_sandbox_configuration/
  response:
    body:
      string: "\r\n{  \r\n   \"issuer\":\"https://oauth.platform.intuit.com/op/v1\",\r\n
        \  \"authorization_endpoint\":\"https://appcenter.intuit.com/connect/oauth2\",\r\n
        \  \"token_endpoint\":\"https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer\",\r\n
        \  \"userinfo_endpoint\":\"https://sandbox-accounts.platform.intuit.com/v1/openid_connect/userinfo\",\r\n
        \  \"revocation_endpoint\":\"https://developer.api.intuit.com/v2/oauth2/tokens/revoke\",\r\n
        \  \"jwks_uri\":\"https://oauth.platform.intuit.com/op/v1/jwks\",\r\n   \"response_types_supported\":[
        \ \r\n      \"code\"\r\n   ],\r\n   \"subject_types_supported\":[  \r\n      \"public\"\r\n
        \  ],\r\n   \"id_token_signing_alg_values_supported\":[  \r\n      \"RS256\"\r\n
        \  ],\r\n   \"scopes_supported\":[  \r\n      \"openid\",\r\n      \"email\",\r\n
        \     \"profile\",\r\n      \"address\",\r\n      \"phone\"\r\n   ],\r\n   \"token_endpoint_auth_methods_supported\":[
        \ \r\n      \"client_secret_post\",\r\n      \"client_secret_basic\"\r\n   ],\r\n
        \  \"claims_supported\":[  \r\n      \"aud\",\r\n      \"exp\",\r\n      \"iat\",\r\n
        \     \"iss\",\r\n      \"realmid\",\r\n      \"sub\"\r\n   ]\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"665940ee6c04a65f93fc17b219716c4e"'
      Last-Modified:
      - Wed, 18 Mar 2020 03:21:12 GMT
      intuit_tid:
      - 1-68b1a997-3855f2be6509a2f46c8690c2
      x-amz-version-id:
      - _xvn_QQfrEn7kCmtCPMTn2sEfdRqhpyB
      x-spanid:
      - 9bafdd96-e777-5a60-e0ee-9572263658c3
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
  response:
    body:
      string: '{"expires_in": 3600, "token_type": "bearer", "x_refresh_token_expires_in":
        8725447, "refresh_token": "refresh_token", "access_token": "access_token"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      intuit_tid:
      - 1-68b1a999-1b1a177755a1458166316dc5
      x-spanid:
      - b69cafbd-5e53-2f78-1a79-6c61574223c5
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Account STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Account":[{"Name":"Accounts
        Payable (A/P)","SubAccount":false,"Description":"Description for myself","FullyQualifiedName":"Accounts
        Payable (A/P)","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":-45626.55,"CurrentBalanceWithSubAccounts":-45626.55,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"1","MetaData":{"CreateTime":"2021-02-11T10:12:02-08:00","LastUpdatedTime":"2025-08-28T13:02:42-07:00"}},{"Name":"Accounts
        Payable (A/P) - EUR","SubAccount":false,"FullyQualifiedName":"Accounts Payable
        (A/P) - EUR","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":100.00,"CurrentBalanceWithSubAccounts":100.00,"CurrencyRef":{"value":"EUR","name":"Euro"},"domain":"QBO","sparse":false,"Id":"109","SyncToken":"0","MetaData":{"CreateTime":"2025-06-26T05:52:50-07:00","LastUpdatedTime":"2025-06-26T05:52:50-07:00"}},{"Name":"Accounts
        Receivable (A/R)","SubAccount":false,"FullyQualifiedName":"Accounts Receivable
        (A/R)","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"1234","CurrentBalance":-40486872.02,"CurrentBalanceWithSubAccounts":-40486872.02,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"84","SyncToken":"1","MetaData":{"CreateTime":"2021-02-15T14:49:29-08:00","LastUpdatedTime":"2025-08-22T05:08:47-07:00"}},{"Name":"Azmat
        Ali","SubAccount":true,"ParentRef":{"value":"84"},"Description":"Azmat''s
        Account Receiveable","FullyQualifiedName":"Accounts Receivable (A/R):Azmat
        Ali","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"167","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"1150040004","SyncToken":"0","MetaData":{"CreateTime":"2025-07-08T06:21:35-07:00[...]
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Department STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Department":[{"Name":"A happy
        department","SubDepartment":false,"FullyQualifiedName":"A happy department","Active":true,"domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:59-07:00","LastUpdatedTime":"2025-06-18T10:24:33-07:00"}},{"Name":"Child
        of Happy Department","SubDepartment":true,"ParentRef":{"value":"4"},"FullyQualifiedName":"A
        happy department:Child of Happy Department","Active":true,"domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2025-06-18T10:24:33-[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from PaymentMethod STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"PaymentMethod":[{"Name":"American
        Express","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:42:05-08:00","LastUpdatedTime":"2021-02-10T14:42:05-08:00"}},{"Name":"Apple
        Card","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"14","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:07-07:00","LastUpdatedTime":"2023-03-14T17:48:07-07:00"}},{"Name":"Cash","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0",[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from CustomerType STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CustomerType":[{"Name":"Enterprise","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054673","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:33:10-08:00","LastUpdatedTime":"2023-02-28T23:33:10-08:00"}},{"Name":"Recurring","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054672","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:01:49-08:00","LastUpdatedTime":"2023-02-28T23:01:49-08:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-29T06:22:40.781-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68b1a9a0-1596bb584ceb320d5e09fa21
      x-spanid:
      - e5746f59-5414-b740-0623-760c7bafd070
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from TaxCode STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"TaxCode":[{"Name":"TAX","Description":"TAX","Taxable":true,"TaxGroup":false,"Id":"TAX","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"NON","Description":"NON","Taxable":false,"TaxGroup":false,"Id":"NON","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"CustomSalesTax","Description":"CustomSalesTax","Taxable":true,"TaxGroup":true,"Id":"CustomSalesTax","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"Atax","Description":"Atax","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"5","name":"myNewTaxRateName2"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigType":"USER_DEFINED","domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2023-04-11T09:22:33-07:00","LastUpdatedTime":"2023-04-11T09:22:33-07:00"}},{"Name":"Atax
        test","Description":"Atax test","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"7","name":"myNewTaxRateName2
        test"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigTyp[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Currency STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CompanyCurrency":[{"Code":"GBP","Name":"British
        Pound Sterling","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-05-29T05:39:53-07:00","LastUpdatedTime":"2025-05-29T05:39:53-07:00"}},{"Code":"EUR","Name":"Euro","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:15-07:00","LastUpdatedTime":"2025-05-22T19:25:15-07:00"}},{"Code":"CAD","Name":"Canadian
        Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:14-07:00","LastUpdatedTime":"2025-05-22T19:25:14-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-08-29T06:22:43.515-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68b1a9a3-71c8c65868a54bcf2b2dab9b
      x-spanid:
      - aca3c062-c1ca-8b80-e37f-e2caa35f0419
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Class STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Class":[{"Name":"A sub-class-BK","SubClass":true,"ParentRef":{"value":"5000000000000275720"},"FullyQualifiedName":"Test
        class:A sub-class-BK","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275722","SyncToken":"1","MetaData":{"CreateTime":"2023-03-15T09:56:55-07:00","LastUpdatedTime":"2025-08-11T14:19:28-07:00"}},{"Name":"Another
        class","SubClass":false,"FullyQualifiedName":"Another class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275721","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:56:46-07:00","LastUpdatedTime":"2023-03-15T09:56:46-07:00"}},{"Name":"BK
        Cl[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Term STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Term":[{"Name":"Due on receipt","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Due
        on receipt test","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"7","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        10","Active":true,"Type":"STANDARD","DueDays":10,"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2021-02-15T15:24:26-08:00","LastUpdatedTime":"2021-02-15T15:24:26-08:00"}},{"Name":"Net
        10 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":24,"domain":"QBO","sparse":false,"Id":"8","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        15","Active":true,"Type":"STANDARD","DueDays":15,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Net
        15 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":30,"domain":"QBO"[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Type=''Category''
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Buds","Active":true,"FullyQualifiedName":"Buds","Type":"Category","domain":"QBO","sparse":false,"Id":"55","SyncToken":"0","MetaData":{"CreateTime":"2025-08-13T08:17:02-07:00","LastUpdatedTime":"2025-08-13T08:18:50-07:00"}},{"Name":"Test
        Cat","Active":true,"FullyQualifiedName":"Test Cat","Type":"Category","domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2023-05-16T05:20:04-07:00","LastUpdatedTime":"2024-03-14T10:21:45-07:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-29T06:22:47.547-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68b1a9a7-6ca115a665b5c1a001c29ce5
      x-spanid:
      - cd045171-e3ee-053d-9ef6-9c28334496d8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName from Vendor where
      DisplayName in (''Azmat Vendor'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Vendor":[{"sparse":true,"Id":"141","DisplayName":"Azmat
        Vendor"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-29T06:22:50.164-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68b1a9a9-5aa19d6d4b27de104837e1bf
      x-spanid:
      - b0dec1c4-8339-5b0f-2f0c-3e1f3432c6fe
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"bId": "0", "operation": "create", "Item": {"PrefVendorRef":
      {"value": "141", "name": "Azmat Vendor"}, "IncomeAccountRef": {"value": "79",
      "name": "Sales of Product Income"}, "ExpenseAccountRef": {"value": "80", "name":
      "Cost of Goods Sold"}, "AssetAccountRef": {"value": "81", "name": "Inventory
      Asset"}, "TrackQtyOnHand": true, "InvStartDate": "2025-08-29T00:00:00", "Active":
      true, "Sku": "N--Areeb-SKU", "Name": "Areeb Test SKU Item", "Type": "Inventory",
      "QtyOnHand": 10.0}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"Item":{"Name":"Areeb Test SKU Item","Sku":"N--Areeb-SKU","Active":true,"FullyQualifiedName":"Areeb
        Test SKU Item","Taxable":false,"UnitPrice":0,"Type":"Inventory","IncomeAccountRef":{"value":"79","name":"Sales
        of Product Income"},"PurchaseCost":0,"ExpenseAccountRef":{"value":"80","name":"Cost
        of Goods Sold"},"AssetAccountRef":{"value":"81","name":"Inventory Asset"},"PrefVendorRef":{"value":"141","name":"Azmat
        Vendor"},"TrackQtyOnHand":true,"QtyOnHand":10,"InvStartDate":"2025-08-29","DeferredRevenue":false,"domain":"QBO","sparse":false,"Id":"60","SyncToken":"0","MetaData":{"CreateTime":"2025-08-29T06:22:52-07:00","LastUpdatedTime":"2025-08-29T06:22:52-07:00"}},"bId":"0"}],"time":"2025-08-29T06:22:51.995-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68b1a9ab-57e4685753ae530f4d320b8c
      x-spanid:
      - 347d59d2-e5e6-6097-8c40-6000f0411a7d
    status:
      code: 200
      message: OK
version: 1
