interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.intuit.com/.well-known/openid_sandbox_configuration/
  response:
    body:
      string: "\r\n{  \r\n   \"issuer\":\"https://oauth.platform.intuit.com/op/v1\",\r\n
        \  \"authorization_endpoint\":\"https://appcenter.intuit.com/connect/oauth2\",\r\n
        \  \"token_endpoint\":\"https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer\",\r\n
        \  \"userinfo_endpoint\":\"https://sandbox-accounts.platform.intuit.com/v1/openid_connect/userinfo\",\r\n
        \  \"revocation_endpoint\":\"https://developer.api.intuit.com/v2/oauth2/tokens/revoke\",\r\n
        \  \"jwks_uri\":\"https://oauth.platform.intuit.com/op/v1/jwks\",\r\n   \"response_types_supported\":[
        \ \r\n      \"code\"\r\n   ],\r\n   \"subject_types_supported\":[  \r\n      \"public\"\r\n
        \  ],\r\n   \"id_token_signing_alg_values_supported\":[  \r\n      \"RS256\"\r\n
        \  ],\r\n   \"scopes_supported\":[  \r\n      \"openid\",\r\n      \"email\",\r\n
        \     \"profile\",\r\n      \"address\",\r\n      \"phone\"\r\n   ],\r\n   \"token_endpoint_auth_methods_supported\":[
        \ \r\n      \"client_secret_post\",\r\n      \"client_secret_basic\"\r\n   ],\r\n
        \  \"claims_supported\":[  \r\n      \"aud\",\r\n      \"exp\",\r\n      \"iat\",\r\n
        \     \"iss\",\r\n      \"realmid\",\r\n      \"sub\"\r\n   ]\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"665940ee6c04a65f93fc17b219716c4e"'
      Last-Modified:
      - Wed, 18 Mar 2020 03:21:12 GMT
      x-amz-version-id:
      - _xvn_QQfrEn7kCmtCPMTn2sEfdRqhpyB
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
  response:
    body:
      string: '{"access_token": "access_token", "token_type": "bearer", "refresh_token":
        "refresh_token", "x_refresh_token_expires_in": 8652732, "expires_in": 3600}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      intuit_tid:
      - 1-68515fcf-6fc27c8638a9069b714b4632
      x-spanid:
      - 42e6f407-043c-53ba-da95-501f781eac50
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Account STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Account":[{"Name":"Accounts
        Payable (A/P)","SubAccount":false,"FullyQualifiedName":"Accounts Payable (A/P)","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":-45407.55,"CurrentBalanceWithSubAccounts":-45407.55,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"0","MetaData":{"CreateTime":"2021-02-11T10:12:02-08:00","LastUpdatedTime":"2025-06-13T06:17:23-07:00"}},{"Name":"Accounts
        Receivable (A/R)","SubAccount":false,"FullyQualifiedName":"Accounts Receivable
        (A/R)","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"1234","CurrentBalance":53227.90,"CurrentBalanceWithSubAccounts":53227.90,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"84","SyncToken":"1","MetaData":{"CreateTime":"2021-02-15T14:49:29-08:00","LastUpdatedTime":"2025-06-16T10:11:08-07:00"}},{"Name":"Accounts
        Receivable (A/R) - CAD","SubAccount":false,"FullyQualifiedName":"Accounts
        Receivable (A/R) - CAD","Active":true,"Classification":"Asset","AccountType":"Accounts
      [...]
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Department STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Department":[{"Name":"A happy
        department","SubDepartment":false,"FullyQualifiedName":"A happy department","Active":true,"domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:59-07:00","LastUpdatedTime":"2023-03-14T17:48:59-07:00"}},{"Name":"A
        new department","SubDepartment":false,"FullyQualifiedName":"A new department","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:29:35-07:00","LastUpdatedTime":"2023-03-14T17:29:35-07:00"}},{"Name":"location1","SubDepartment":false,"FullyQualifiedName":"location1","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2022-10-27T11:41:20-07:00","LastUpdatedTime":"2022-10-27T11:41:20-07:00"}},{"Name":"location3
        test","SubDepartment":false,"FullyQualifiedName":"location3 test","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2023-03-09T07:16:17-08:00","LastUpdatedTime":"2023-03-09T07:16:17-08:00"}},{"Name":"location3
        test2","SubDepartment":false,"FullyQualifiedName":"location3 test2","Active":true,"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2023-04-11T09:29:37-07:00","LastUpdatedTime":"2023-04-11T09:29:37-07:00"}}],"startPosition":1,"maxResults":5},"bId":"bid1"}],"time":"2025-06-17T05:30:10.733-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fd2-5c8f216771e9e5f73592d84c
      x-spanid:
      - 15330caf-82d1-718b-19ae-be913562d310
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from PaymentMethod STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"PaymentMethod":[{"Name":"American
        Express","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:42:05-08:00","LastUpdatedTime":"2021-02-10T14:42:05-08:00"}},{"Name":"Apple
        Card","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"14","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:07-07:00","LastUpdatedTime":"2023-03-14T17:48:07-07:00"}},{"Name":"Cash","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0",[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from CustomerType STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CustomerType":[{"Name":"Enterprise","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054673","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:33:10-08:00","LastUpdatedTime":"2023-02-28T23:33:10-08:00"}},{"Name":"Recurring","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054672","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:01:49-08:00","LastUpdatedTime":"2023-02-28T23:01:49-08:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-06-17T05:30:12.956-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fd4-634f1512263d243579112c3f
      x-spanid:
      - 4fc7e510-42b5-ad5b-cc8e-14b2959765fc
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from TaxCode STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"TaxCode":[{"Name":"TAX","Description":"TAX","Taxable":true,"TaxGroup":false,"Id":"TAX","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"NON","Description":"NON","Taxable":false,"TaxGroup":false,"Id":"NON","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"CustomSalesTax","Description":"CustomSalesTax","Taxable":true,"TaxGroup":true,"Id":"CustomSalesTax","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"Atax","Description":"Atax","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"5","name":"myNewTaxRateName2"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigType":"USER_DEFINED","domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2023-04-11T09:22:33-07:00","LastUpdatedTime":"2023-04-11T09:22:33-07:00"}},{"Name":"Atax
        test","Description":"Atax test","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"7","name":"myNewTaxRateName2
        test"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigTyp[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Currency STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CompanyCurrency":[{"Code":"GBP","Name":"British
        Pound Sterling","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-05-29T05:39:53-07:00","LastUpdatedTime":"2025-05-29T05:39:53-07:00"}},{"Code":"EUR","Name":"Euro","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:15-07:00","LastUpdatedTime":"2025-05-22T19:25:15-07:00"}},{"Code":"CAD","Name":"Canadian
        Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:14-07:00","LastUpdatedTime":"2025-05-22T19:25:14-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-06-17T05:30:15.107-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fd6-426acf696bfa88fd4b6b33e0
      x-spanid:
      - cd8c02e3-5559-9bff-e519-12360df3be6c
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Class STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Class":[{"Name":"A sub-class","SubClass":true,"ParentRef":{"value":"5000000000000275720"},"FullyQualifiedName":"Test
        class:A sub-class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275722","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:56:55-07:00","LastUpdatedTime":"2023-03-15T09:56:55-07:00"}},{"Name":"Another
        class","SubClass":false,"FullyQualifiedName":"Another class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275721","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:56:46-07:00","LastUpdatedTime":"2023-03-15T09:56:46-07:00"}},{"Name":"Test
        class","SubClass":false,"FullyQualifiedName":"Test class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275720","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:53:34-07:00","LastUpdatedTime":"2023-03-15T09:56:55-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-06-17T05:30:16.177-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fd8-5ba1585a627a6db454806f54
      x-spanid:
      - 781e100d-e8d1-3f4c-b334-2ba8d896ca1b
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Term STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Term":[{"Name":"Due on receipt","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Due
        on receipt test","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"7","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        10","Active":true,"Type":"STANDARD","DueDays":10,"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2021-02-15T15:24:26-08:00","LastUpdatedTime":"2021-02-15T15:24:26-08:00"}},{"Name":"Net
        10 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":24,"domain":"QBO","sparse":false,"Id":"8","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        15","Active":true,"Type":"STANDARD","DueDays":15,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Net
        15 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":30,"domain":"QBO"[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Type=''Category''
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Test Cat","Active":true,"FullyQualifiedName":"Test
        Cat","Type":"Category","domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2023-05-16T05:20:04-07:00","LastUpdatedTime":"2024-03-14T10:21:45-07:00"}}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-06-17T05:30:18.314-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fda-5f9142e97830a55749a51de5
      x-spanid:
      - e2a13fe9-1883-e6a0-b84c-7c47be6024ea
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName, SyncToken from
      Vendor where DisplayName in (''Bob\\''s Burger Joint'') STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Vendor":[{"sparse":true,"Id":"56","SyncToken":"0","DisplayName":"Bob''s
        Burger Joint"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-06-17T05:30:20.575-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fdc-62ec1aa03ff2232c13fbeef6
      x-spanid:
      - 7a6f39f9-c91b-8b10-3978-36c3ef4475b6
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName, SyncToken from
      Customer where Id in (''1'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Customer":[{"sparse":true,"Id":"1","SyncToken":"0","DisplayName":"Amy''s
        Bird Sanctuary"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-06-17T05:30:21.660-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fdd-7fb55f9074485a615547c9c9
      x-spanid:
      - 9b462eaa-3b6f-018d-e0b9-7f94c8ac767e
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"bId": "0", "operation": "create", "PurchaseOrder":
      {"VendorRef": {"value": "56", "name": "Bob''s Burger Joint"}, "Line": [{"DetailType":
      "ItemBasedExpenseLineDetail", "ItemBasedExpenseLineDetail": {"ItemRef": {"value":
      "23", "name": "Chocolate Chip Cookies"}, "CustomerRef": {"value": "1", "name":
      "Amy''s Bird Sanctuary"}, "ClassRef": {"value": "5000000000000275721", "name":
      "Another class"}, "Qty": 5, "UnitPrice": 10}, "Amount": 50, "Description": "Description
      1"}, {"DetailType": "ItemBasedExpenseLineDetail", "ItemBasedExpenseLineDetail":
      {"ItemRef": {"value": "35", "name": "Football Shorts (Men)"}, "CustomerRef":
      {"value": "59", "name": "Accenture"}, "ClassRef": {"value": "5000000000000275720",
      "name": "Test class"}, "Qty": 1, "UnitPrice": 70}, "Amount": 70, "Description":
      "Description 2"}, {"DetailType": "AccountBasedExpenseLineDetail", "AccountBasedExpenseLineDetail":
      {"AccountRef": {"value": "7", "name": "Advertising"}, "CustomerRef": {"value":
      "1", "name": "Amy''s Bird Sanctuary"}, "ClassRef": {"value": "5000000000000275721",
      "name": "Another class"}}, "Amount": 50, "Description": "Description 3"}, {"DetailType":
      "AccountBasedExpenseLineDetail", "AccountBasedExpenseLineDetail": {"AccountRef":
      {"value": "69", "name": "Accounting"}, "CustomerRef": {"value": "59", "name":
      "Accenture"}, "ClassRef": {"value": "5000000000000275720", "name": "Test class"}},
      "Amount": 100, "Description": "Description 4"}], "DocNumber": "TEST-PO-2000",
      "Memo": "Description test", "TxnDate": "2025-06-16T00:00:00", "DueDate": "2025-06-21T00:00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"PurchaseOrder":{"EmailStatus":"NotSet","POStatus":"Open","domain":"QBO","sparse":false,"Id":"722","SyncToken":"0","MetaData":{"CreateTime":"2025-06-17T05:30:26-07:00","LastModifiedByRef":{"value":"9130350302168886"},"LastUpdatedTime":"2025-06-17T05:30:26-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Department","Type":"StringType"},{"DefinitionId":"2","Name":"ExternalId","Type":"StringType"}],"DocNumber":"TEST-PO-2000","TxnDate":"2025-06-16","CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"ExchangeRate":1,"LinkedTxn":[],"Line":[{"Id":"1","LineNum":1,"Description":"Description
        1","Amount":50.00,"DetailType":"ItemBasedExpenseLineDetail","ItemBasedExpenseLineDetail":{"CustomerRef":{"value":"1","name":"Amy''s
        Bird Sanctuary"},"BillableStatus":"NotBillable","ItemRef":{"value":"23","name":"Chocolate
        Chip Cookies"},"ClassRef":{"value":"5000000000000275721","name":"Another class"},"UnitPrice":10,"Qty":5,"TaxCodeRef":{"value":"NON"}}},{"Id":"2","LineNum":2,"Description":"Description
        2","Amount":70.00,"DetailType":"ItemBasedExpenseLineDetail","ItemBasedExpenseLineDetail":{"CustomerRef":{"value":"59","name":"Accenture"},"BillableStatus":"NotBillable","ItemRef":{"value":"35","name":"Football
        Shorts (Men)"},"ClassRef":{"value":"5000000000000275720","name":"Test class"},"UnitPrice":70,"Qty":1,"TaxCodeRef":{"value":"NON"}}},{"Id":"3","LineNum":3,"Description":"Description
        3","Amount":50.00,"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"CustomerRef":{"value":"1","name":"Amy''s
        Bird Sanctuary"},"ClassRef":{"value":"5000000000000275721","name":"Another
        class"},"AccountRef":{"value":"7","name":"Advertising"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"NON"}}},{"Id":"4","LineNum":4,"Description":"Description
        4","Amount":100.00,"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"CustomerRef":{"value":"59","name":"Accenture"},"ClassRef":{"value":"5000000000000275720","name":"Test
        class"},"AccountRef":{"value":"69","name":"Legal & Professional Fees:Accounting"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"NON"}}}],"VendorRef":{"value":"56","name":"Bob''s
        Burger Joint"},"APAccountRef":{"value":"33","name":"Accounts Payable (A/P)"},"TotalAmt":270.00,"Memo":"Description
        test"},"bId":"0"}],"time":"2025-06-17T05:30:26.291-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68515fe1-1c3c8a7271d81b362ad02def
      x-spanid:
      - 5c4aab88-17ad-d5bb-feee-2bf6fc85fcd2
    status:
      code: 200
      message: OK
version: 1
