interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.intuit.com/.well-known/openid_sandbox_configuration/
  response:
    body:
      string: "\r\n{  \r\n   \"issuer\":\"https://oauth.platform.intuit.com/op/v1\",\r\n
        \  \"authorization_endpoint\":\"https://appcenter.intuit.com/connect/oauth2\",\r\n
        \  \"token_endpoint\":\"https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer\",\r\n
        \  \"userinfo_endpoint\":\"https://sandbox-accounts.platform.intuit.com/v1/openid_connect/userinfo\",\r\n
        \  \"revocation_endpoint\":\"https://developer.api.intuit.com/v2/oauth2/tokens/revoke\",\r\n
        \  \"jwks_uri\":\"https://oauth.platform.intuit.com/op/v1/jwks\",\r\n   \"response_types_supported\":[
        \ \r\n      \"code\"\r\n   ],\r\n   \"subject_types_supported\":[  \r\n      \"public\"\r\n
        \  ],\r\n   \"id_token_signing_alg_values_supported\":[  \r\n      \"RS256\"\r\n
        \  ],\r\n   \"scopes_supported\":[  \r\n      \"openid\",\r\n      \"email\",\r\n
        \     \"profile\",\r\n      \"address\",\r\n      \"phone\"\r\n   ],\r\n   \"token_endpoint_auth_methods_supported\":[
        \ \r\n      \"client_secret_post\",\r\n      \"client_secret_basic\"\r\n   ],\r\n
        \  \"claims_supported\":[  \r\n      \"aud\",\r\n      \"exp\",\r\n      \"iat\",\r\n
        \     \"iss\",\r\n      \"realmid\",\r\n      \"sub\"\r\n   ]\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"665940ee6c04a65f93fc17b219716c4e"'
      Last-Modified:
      - Wed, 18 Mar 2020 03:21:12 GMT
      intuit_tid:
      - 1-68a88ec8-7cab6eba5357576944b1cc66
      x-amz-version-id:
      - _xvn_QQfrEn7kCmtCPMTn2sEfdRqhpyB
      x-spanid:
      - 8f83d73e-633f-d8c5-7da3-8034c6cf626d
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
  response:
    body:
      string: '{"expires_in": 3600, "refresh_token": "refresh_token", "access_token":
        "access_token", "token_type": "bearer", "x_refresh_token_expires_in": 8726400}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      intuit_tid:
      - 1-68a88eca-30dc8ff9137f94031bf22471
      x-spanid:
      - 456a1a31-e9a3-9c26-1c4d-f3e8951b3c43
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Account STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Account":[{"Name":"Accounts
        Payable (A/P)","SubAccount":false,"Description":"Description for myself","FullyQualifiedName":"Accounts
        Payable (A/P)","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":-44026.55,"CurrentBalanceWithSubAccounts":-44026.55,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"1","MetaData":{"CreateTime":"2021-02-11T10:12:02-08:00","LastUpdatedTime":"2025-08-22T05:10:46-07:00"}},{"Name":"Accounts
        Payable (A/P) - EUR","SubAccount":false,"FullyQualifiedName":"Accounts Payable
        (A/P) - EUR","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":100.00,"CurrentBalanceWithSubAccounts":100.00,"CurrencyRef":{"value":"EUR","name":"Euro"},"domain":"QBO","sparse":false,"Id":"109","SyncToken":"0","MetaData":{"CreateTime":"2025-06-26T05:52:50-07:00","LastUpdatedTime":"2025-06-26T05:52:50-07:00"}},{"Name":"Accounts
        Receivable (A/R)","SubAccount":false,"FullyQualifiedName":"Accounts Receivable
        (A/R)","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"1234","CurrentBalance":-40486872.02,"CurrentBalanceWithSubAccounts":-40486872.02,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"84","SyncToken":"1","MetaData":{"CreateTime":"2021-02-15T14:49:29-08:00","LastUpdatedTime":"2025-08-22T05:08:47-07:00"}},{"Name":"Azmat
        Ali","SubAccount":true,"ParentRef":{"value":"84"},"Description":"Azmat''s
        Account Receiveable","FullyQualifiedName":"Accounts Receivable (A/R):Azmat
        Ali","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"167","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"1150040004","SyncToken":"0","MetaData":{"CreateTime":"2025-07-08T06:21:35-07:00[...]
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Department STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Department":[{"Name":"A happy
        department","SubDepartment":false,"FullyQualifiedName":"A happy department","Active":true,"domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:59-07:00","LastUpdatedTime":"2025-06-18T10:24:33-07:00"}},{"Name":"Child
        of Happy Department","SubDepartment":true,"ParentRef":{"value":"4"},"FullyQualifiedName":"A
        happy department:Child of Happy Department","Active":true,"domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2025-06-18T10:24:33-[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from PaymentMethod STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"PaymentMethod":[{"Name":"American
        Express","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:42:05-08:00","LastUpdatedTime":"2021-02-10T14:42:05-08:00"}},{"Name":"Apple
        Card","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"14","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:07-07:00","LastUpdatedTime":"2023-03-14T17:48:07-07:00"}},{"Name":"Cash","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0",[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from CustomerType STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CustomerType":[{"Name":"Enterprise","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054673","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:33:10-08:00","LastUpdatedTime":"2023-02-28T23:33:10-08:00"}},{"Name":"Recurring","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054672","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:01:49-08:00","LastUpdatedTime":"2023-02-28T23:01:49-08:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-22T08:37:54.225-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88ed1-1f288fc02e036b0e5fd3f8a3
      x-spanid:
      - 64ea780d-5357-7c9a-86f3-ef9fc4aa9a49
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from TaxCode STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"TaxCode":[{"Name":"TAX","Description":"TAX","Taxable":true,"TaxGroup":false,"Id":"TAX","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"NON","Description":"NON","Taxable":false,"TaxGroup":false,"Id":"NON","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"CustomSalesTax","Description":"CustomSalesTax","Taxable":true,"TaxGroup":true,"Id":"CustomSalesTax","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"Atax","Description":"Atax","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"5","name":"myNewTaxRateName2"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigType":"USER_DEFINED","domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2023-04-11T09:22:33-07:00","LastUpdatedTime":"2023-04-11T09:22:33-07:00"}},{"Name":"Atax
        test","Description":"Atax test","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"7","name":"myNewTaxRateName2
        test"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigTyp[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Currency STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CompanyCurrency":[{"Code":"GBP","Name":"British
        Pound Sterling","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-05-29T05:39:53-07:00","LastUpdatedTime":"2025-05-29T05:39:53-07:00"}},{"Code":"EUR","Name":"Euro","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:15-07:00","LastUpdatedTime":"2025-05-22T19:25:15-07:00"}},{"Code":"CAD","Name":"Canadian
        Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:14-07:00","LastUpdatedTime":"2025-05-22T19:25:14-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-08-22T08:37:56.971-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88ed4-24b70a90562dd56c4a6f2e77
      x-spanid:
      - 584bd465-6001-90e1-f675-7044582d79bd
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Class STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Class":[{"Name":"A sub-class-BK","SubClass":true,"ParentRef":{"value":"5000000000000275720"},"FullyQualifiedName":"Test
        class:A sub-class-BK","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275722","SyncToken":"1","MetaData":{"CreateTime":"2023-03-15T09:56:55-07:00","LastUpdatedTime":"2025-08-11T14:19:28-07:00"}},{"Name":"Another
        class","SubClass":false,"FullyQualifiedName":"Another class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275721","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:56:46-07:00","LastUpdatedTime":"2023-03-15T09:56:46-07:00"}},{"Name":"BK
        Cl[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Term STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Term":[{"Name":"Due on receipt","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Due
        on receipt test","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"7","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        10","Active":true,"Type":"STANDARD","DueDays":10,"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2021-02-15T15:24:26-08:00","LastUpdatedTime":"2021-02-15T15:24:26-08:00"}},{"Name":"Net
        10 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":24,"domain":"QBO","sparse":false,"Id":"8","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        15","Active":true,"Type":"STANDARD","DueDays":15,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Net
        15 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":30,"domain":"QBO"[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Type=''Category''
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Buds","Active":true,"FullyQualifiedName":"Buds","Type":"Category","domain":"QBO","sparse":false,"Id":"55","SyncToken":"0","MetaData":{"CreateTime":"2025-08-13T08:17:02-07:00","LastUpdatedTime":"2025-08-13T08:18:50-07:00"}},{"Name":"Test
        Cat","Active":true,"FullyQualifiedName":"Test Cat","Type":"Category","domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2023-05-16T05:20:04-07:00","LastUpdatedTime":"2024-03-14T10:21:45-07:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-22T08:38:00.934-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88ed8-673570626ef969f62e7830fe
      x-spanid:
      - 4bb0f6c8-9b87-bf3b-94c0-ba02889623ff
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DocNumber, SyncToken from Bill
      where Id in (''727'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Bill":[{"sparse":true,"Id":"727","SyncToken":"16","DocNumber":"TEST-BILL-V-1150","Line":[]}],"startPosition":1,"maxResults":1,"totalCount":1},"bId":"bid1"}],"time":"2025-08-22T08:38:02.345-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88eda-40ab053e456ff06162507c43
      x-spanid:
      - 600da35f-cd95-ff13-2447-df33936ad09b
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName, SyncToken from
      Vendor where Id in (''51'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Vendor":[{"sparse":true,"Id":"51","SyncToken":"1","DisplayName":"Tim
        Philip Masonry"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-22T08:38:05.311-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88edd-23f854a75900a5e327f0212c
      x-spanid:
      - 79e18352-c276-c246-c597-9997ee956193
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Sku in (''hoodiewh'')
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Gluestick
        White","Sku":"hoodiewh","Description":"Long Carrots","Active":true,"FullyQualifiedName":"Gluestick
        White","Taxable":true,"UnitPrice":15,"Type":"Inventory","IncomeAccountRef":{"value":"92","name":"Recurring"},"PurchaseDesc":"Long
        Carrots","PurchaseCost":5,"ExpenseAccountRef":{"value":"80","name":"Cost of
        Goods Sold"},"AssetAccountRef":{"value":"81","name":"Inventory Asset"},"TrackQtyOnHand":true,"QtyOnHand":49,"InvStartDate":"2022-09-09","TaxClassificationRef":{"value":"EUC-09020802-V1-00120000","name":"General
        taxable retail products - use this if nothing else fits"},"domain":"QBO","sparse":false,"Id":"20","SyncToken":"3","MetaData":{"CreateTime":"2022-09-09T12:34:04-07:00","LastUpdatedTime":"2025-08-21T04:53:03-07:00"}}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-22T08:38:08.040-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88edf-37acc5024e6c07a43925c0c3
      x-spanid:
      - 0f771a23-67de-7f6f-c4b3-2e8de3bf2008
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"bId": "0", "operation": "update", "Bill": {"Id":
      "727", "SyncToken": "16", "sparse": true, "VendorRef": {"value": "51", "name":
      "Tim Philip Masonry"}, "DepartmentRef": {"value": "4", "name": "A happy department"},
      "Line": [{"DetailType": "ItemBasedExpenseLineDetail", "ItemBasedExpenseLineDetail":
      {"ItemRef": {"value": "20", "name": "Gluestick White"}, "TaxCodeRef": {"value":
      "NON", "name": "NON"}, "ClassRef": {"value": "5000000000000275721", "name":
      "Another class"}, "Qty": 10.0, "UnitPrice": 10.0}, "Amount": 100.0, "Description":
      "Description 2"}, {"DetailType": "AccountBasedExpenseLineDetail", "AccountBasedExpenseLineDetail":
      {"AccountRef": {"value": "69", "name": "Accounting"}, "TaxCodeRef": {"value":
      "TAX", "name": "TAX"}, "ClassRef": {"value": "5000000000000275721", "name":
      "Another class"}}, "Description": "Expense Description 1", "Amount": 100.0},
      {"DetailType": "AccountBasedExpenseLineDetail", "AccountBasedExpenseLineDetail":
      {"AccountRef": {"value": "7", "name": "Advertising-BK"}, "TaxCodeRef": {"value":
      "NON", "name": "NON"}, "ClassRef": {"value": "5000000000000275721", "name":
      "Another class"}}, "Description": "Expense Description 2", "Amount": 100.0}],
      "DocNumber": "TEST-BILL-V-1150", "TxnDate": "2025-06-30T00:00:00+00:00", "DueDate":
      "2025-06-30T00:00:00+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"Bill":{"DueDate":"2025-06-30","VendorAddr":{"Id":"613","Line1":"3948
        Elm St.","City":"Middlefield","CountrySubDivisionCode":"CA","PostalCode":"94482"},"Balance":260.00,"HomeBalance":260.00,"domain":"QBO","sparse":false,"Id":"727","SyncToken":"17","MetaData":{"CreateTime":"2025-06-17T07:53:22-07:00","LastModifiedByRef":{"value":"9130350302168886"},"LastUpdatedTime":"2025-08-22T08:38:10-07:00"},"DocNumber":"TEST-BILL-V-1150","TxnDate":"2025-06-30","DepartmentRef":{"value":"4","name":"A
        happy department"},"CurrencyRef":{"value":"USD","name":"United States Dollar"},"ExchangeRate":1,"LinkedTxn":[{"TxnId":"764","TxnType":"BillPaymentCheck"},{"TxnId":"788","TxnType":"BillPaymentCheck"},{"TxnId":"762","TxnType":"BillPaymentCheck"},{"TxnId":"730","TxnType":"BillPaymentCheck"},{"TxnId":"731","TxnType":"BillPaymentCheck"}],"Line":[{"Id":"34","LineNum":1,"Description":"Description
        2","Amount":100.00,"LinkedTxn":[],"DetailType":"ItemBasedExpenseLineDetail","ItemBasedExpenseLineDetail":{"BillableStatus":"NotBillable","ItemRef":{"value":"20","name":"Gluestick
        White"},"ClassRef":{"value":"5000000000000275721","name":"Another class"},"UnitPrice":10,"Qty":10,"TaxCodeRef":{"value":"NON"}},"CustomExtensions":[]},{"Id":"35","LineNum":2,"Description":"Expense
        Description 1","Amount":100.00,"LinkedTxn":[],"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"ClassRef":{"value":"5000000000000275721","name":"Another
        class"},"AccountRef":{"value":"69","name":"Legal & Professional Fees:Accounting"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"TAX"}},"CustomExtensions":[]},{"Id":"36","LineNum":3,"Description":"Expense
        Description 2","Amount":100.00,"LinkedTxn":[],"DetailType":"AccountBasedExpenseLineDetail","AccountBasedExpenseLineDetail":{"ClassRef":{"value":"5000000000000275721","name":"Another
        class"},"AccountRef":{"value":"7","name":"Advertising-BK"},"BillableStatus":"NotBillable","TaxCodeRef":{"value":"NON"}},"CustomExtensions":[]}],"VendorRef":{"value":"51","name":"Tim
        Philip Masonry"},"APAccountRef":{"value":"33","name":"Accounts Payable (A/P)"},"TotalAmt":300.00},"bId":"0"}],"time":"2025-08-22T08:38:10.212-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a88ee1-5bcdf5d03478850e0e344177
      x-spanid:
      - 22a60cd3-2a14-5086-8067-992bb091a7bb
    status:
      code: 200
      message: OK
version: 1
