interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developer.intuit.com/.well-known/openid_sandbox_configuration/
  response:
    body:
      string: "\r\n{  \r\n   \"issuer\":\"https://oauth.platform.intuit.com/op/v1\",\r\n
        \  \"authorization_endpoint\":\"https://appcenter.intuit.com/connect/oauth2\",\r\n
        \  \"token_endpoint\":\"https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer\",\r\n
        \  \"userinfo_endpoint\":\"https://sandbox-accounts.platform.intuit.com/v1/openid_connect/userinfo\",\r\n
        \  \"revocation_endpoint\":\"https://developer.api.intuit.com/v2/oauth2/tokens/revoke\",\r\n
        \  \"jwks_uri\":\"https://oauth.platform.intuit.com/op/v1/jwks\",\r\n   \"response_types_supported\":[
        \ \r\n      \"code\"\r\n   ],\r\n   \"subject_types_supported\":[  \r\n      \"public\"\r\n
        \  ],\r\n   \"id_token_signing_alg_values_supported\":[  \r\n      \"RS256\"\r\n
        \  ],\r\n   \"scopes_supported\":[  \r\n      \"openid\",\r\n      \"email\",\r\n
        \     \"profile\",\r\n      \"address\",\r\n      \"phone\"\r\n   ],\r\n   \"token_endpoint_auth_methods_supported\":[
        \ \r\n      \"client_secret_post\",\r\n      \"client_secret_basic\"\r\n   ],\r\n
        \  \"claims_supported\":[  \r\n      \"aud\",\r\n      \"exp\",\r\n      \"iat\",\r\n
        \     \"iss\",\r\n      \"realmid\",\r\n      \"sub\"\r\n   ]\r\n}\r\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"665940ee6c04a65f93fc17b219716c4e"'
      Last-Modified:
      - Wed, 18 Mar 2020 03:21:12 GMT
      intuit_tid:
      - 1-68a3a751-5e709efd4df45fe37382f6bf
      x-amz-version-id:
      - _xvn_QQfrEn7kCmtCPMTn2sEfdRqhpyB
      x-spanid:
      - 5a6199bf-f9ce-eee7-b0e7-79bb4cd8745b
    status:
      code: 200
      message: OK
- request:
    body: grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
  response:
    body:
      string: '{"expires_in": 3600, "x_refresh_token_expires_in": 8721655, "refresh_token":
        "refresh_token", "access_token": "access_token", "token_type": "bearer"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      intuit_tid:
      - 1-68a3a752-0a6f36bc2e6e08fc32e5c2c5
      x-spanid:
      - b935cd68-862e-4d0b-2865-cca10a509c59
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Account STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Account":[{"Name":"Accounts
        Payable (A/P)","SubAccount":false,"FullyQualifiedName":"Accounts Payable (A/P)","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":-44433.55,"CurrentBalanceWithSubAccounts":-44433.55,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"33","SyncToken":"0","MetaData":{"CreateTime":"2021-02-11T10:12:02-08:00","LastUpdatedTime":"2025-07-24T11:06:36-07:00"}},{"Name":"Accounts
        Payable (A/P) - EUR","SubAccount":false,"FullyQualifiedName":"Accounts Payable
        (A/P) - EUR","Active":true,"Classification":"Liability","AccountType":"Accounts
        Payable","AccountSubType":"AccountsPayable","CurrentBalance":100.00,"CurrentBalanceWithSubAccounts":100.00,"CurrencyRef":{"value":"EUR","name":"Euro"},"domain":"QBO","sparse":false,"Id":"109","SyncToken":"0","MetaData":{"CreateTime":"2025-06-26T05:52:50-07:00","LastUpdatedTime":"2025-06-26T05:52:50-07:00"}},{"Name":"Accounts
        Receivable (A/R)","SubAccount":false,"FullyQualifiedName":"Accounts Receivable
        (A/R)","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"1234","CurrentBalance":-40486720.02,"CurrentBalanceWithSubAccounts":-40486720.02,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"84","SyncToken":"1","MetaData":{"CreateTime":"2021-02-15T14:49:29-08:00","LastUpdatedTime":"2025-08-13T11:28:11-07:00"}},{"Name":"Azmat
        Ali","SubAccount":true,"ParentRef":{"value":"84"},"Description":"Azmat''s
        Account Receiveable","FullyQualifiedName":"Accounts Receivable (A/R):Azmat
        Ali","Active":true,"Classification":"Asset","AccountType":"Accounts Receivable","AccountSubType":"AccountsReceivable","AcctNum":"167","CurrentBalance":0,"CurrentBalanceWithSubAccounts":0,"CurrencyRef":{"value":"USD","name":"United
        States Dollar"},"domain":"QBO","sparse":false,"Id":"1150040004","SyncToken":"0","MetaData":{"CreateTime":"2025-07-08T06:21:35-07:00","LastUpdatedTime":"2025-07-[...]
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Department STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Department":[{"Name":"A happy
        department","SubDepartment":false,"FullyQualifiedName":"A happy department","Active":true,"domain":"QBO","sparse":false,"Id":"4","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:59-07:00","LastUpdatedTime":"2025-06-18T10:24:33-07:00"}},{"Name":"Child
        of Happy Department","SubDepartment":true,"ParentRef":{"value":"4"},"FullyQualifiedName":"A
        happy department:Child of Happy Department","Active":true,"domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2025-06-18T10:24:33-[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from PaymentMethod STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"PaymentMethod":[{"Name":"American
        Express","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"6","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:42:05-08:00","LastUpdatedTime":"2021-02-10T14:42:05-08:00"}},{"Name":"Apple
        Card","Active":true,"Type":"CREDIT_CARD","domain":"QBO","sparse":false,"Id":"14","SyncToken":"0","MetaData":{"CreateTime":"2023-03-14T17:48:07-07:00","LastUpdatedTime":"2023-03-14T17:48:07-07:00"}},{"Name":"Cash","Active":true,"Type":"NON_CREDIT_CARD","domain":"QBO","sparse":false,"Id":"1","SyncToken":"0",[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from CustomerType STARTPOSITION
      0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CustomerType":[{"Name":"Enterprise","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054673","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:33:10-08:00","LastUpdatedTime":"2023-02-28T23:33:10-08:00"}},{"Name":"Recurring","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000054672","SyncToken":"0","MetaData":{"CreateTime":"2023-02-28T23:01:49-08:00","LastUpdatedTime":"2023-02-28T23:01:49-08:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-18T15:21:12.183-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a757-7de304d9290a1d64056e439d
      x-spanid:
      - 248bce2c-2d7e-23ae-e1e8-3f1da229430d
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from TaxCode STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"TaxCode":[{"Name":"TAX","Description":"TAX","Taxable":true,"TaxGroup":false,"Id":"TAX","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"NON","Description":"NON","Taxable":false,"TaxGroup":false,"Id":"NON","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"CustomSalesTax","Description":"CustomSalesTax","Taxable":true,"TaxGroup":true,"Id":"CustomSalesTax","MetaData":{"CreateTime":"2021-03-16T08:04:06-07:00","LastUpdatedTime":"2021-03-16T08:04:06-07:00"}},{"Name":"Atax","Description":"Atax","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"5","name":"myNewTaxRateName2"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigType":"USER_DEFINED","domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2023-04-11T09:22:33-07:00","LastUpdatedTime":"2023-04-11T09:22:33-07:00"}},{"Name":"Atax
        test","Description":"Atax test","Active":true,"Hidden":false,"Taxable":true,"TaxGroup":true,"SalesTaxRateList":{"TaxRateDetail":[{"TaxRateRef":{"value":"7","name":"myNewTaxRateName2
        test"},"TaxTypeApplicable":"TaxOnAmount","TaxOrder":0}]},"PurchaseTaxRateList":{"TaxRateDetail":[]},"TaxCodeConfigTyp[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Currency STARTPOSITION 0
      MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"CompanyCurrency":[{"Code":"GBP","Name":"British
        Pound Sterling","Active":true,"domain":"QBO","sparse":false,"Id":"3","SyncToken":"0","MetaData":{"CreateTime":"2025-05-29T05:39:53-07:00","LastUpdatedTime":"2025-05-29T05:39:53-07:00"}},{"Code":"EUR","Name":"Euro","Active":true,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:15-07:00","LastUpdatedTime":"2025-05-22T19:25:15-07:00"}},{"Code":"CAD","Name":"Canadian
        Dollar","Active":true,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2025-05-22T19:25:14-07:00","LastUpdatedTime":"2025-05-22T19:25:14-07:00"}}],"startPosition":1,"maxResults":3,"totalCount":3},"bId":"bid1"}],"time":"2025-08-18T15:21:14.005-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a759-1c278a3a175404751968d119
      x-spanid:
      - e7569904-2ef2-fddc-8da8-e94eeec15cde
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Class STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Class":[{"Name":"A sub-class-BK","SubClass":true,"ParentRef":{"value":"5000000000000275720"},"FullyQualifiedName":"Test
        class:A sub-class-BK","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275722","SyncToken":"1","MetaData":{"CreateTime":"2023-03-15T09:56:55-07:00","LastUpdatedTime":"2025-08-11T14:19:28-07:00"}},{"Name":"Another
        class","SubClass":false,"FullyQualifiedName":"Another class","Active":true,"domain":"QBO","sparse":false,"Id":"5000000000000275721","SyncToken":"0","MetaData":{"CreateTime":"2023-03-15T09:56:46-07:00","LastUpdatedTime":"2023-03-15T09:56:46-07:00"}},{"Name":"BK
        Cl[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Term STARTPOSITION 0 MAXRESULTS
      100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Term":[{"Name":"Due on receipt","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"1","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Due
        on receipt test","Active":true,"Type":"STANDARD","DueDays":0,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"7","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        10","Active":true,"Type":"STANDARD","DueDays":10,"domain":"QBO","sparse":false,"Id":"5","SyncToken":"0","MetaData":{"CreateTime":"2021-02-15T15:24:26-08:00","LastUpdatedTime":"2021-02-15T15:24:26-08:00"}},{"Name":"Net
        10 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":24,"domain":"QBO","sparse":false,"Id":"8","SyncToken":"0","MetaData":{"CreateTime":"2023-03-08T14:43:46-08:00","LastUpdatedTime":"2023-03-08T14:43:46-08:00"}},{"Name":"Net
        15","Active":true,"Type":"STANDARD","DueDays":15,"DiscountDays":0,"domain":"QBO","sparse":false,"Id":"2","SyncToken":"0","MetaData":{"CreateTime":"2021-02-10T14:41:49-08:00","LastUpdatedTime":"2021-02-10T14:41:49-08:00"}},{"Name":"Net
        15 test","Active":true,"Type":"DATE_DRIVEN","DayOfMonthDue":30,"domain":"QBO"[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Type=''Category''
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Buds","Active":true,"FullyQualifiedName":"Buds","Type":"Category","domain":"QBO","sparse":false,"Id":"55","SyncToken":"0","MetaData":{"CreateTime":"2025-08-13T08:17:02-07:00","LastUpdatedTime":"2025-08-13T08:18:50-07:00"}},{"Name":"Test
        Cat","Active":true,"FullyQualifiedName":"Test Cat","Type":"Category","domain":"QBO","sparse":false,"Id":"31","SyncToken":"0","MetaData":{"CreateTime":"2023-05-16T05:20:04-07:00","LastUpdatedTime":"2024-03-14T10:21:45-07:00"}}],"startPosition":1,"maxResults":2},"bId":"bid1"}],"time":"2025-08-18T15:21:16.806-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a75c-0f68fd0766c62f2a226618aa
      x-spanid:
      - 0bb1cf84-8484-cf97-fe58-b8b377c8ae03
    status:
      code: 200
      message: OK
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DocNumber, SyncToken from Invoice
      where Id in (''718'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Invoice":[{"sparse":true,"Id":"718","SyncToken":"7","DocNumber":"TEST-INV-V-1115","LinkedTxn":[],"Line":[],"BillAddr":{"Id":"688"},"ShipAddr":{"Id":"689"}}],"startPosition":1,"maxResults":1,"totalCount":1},"bId":"bid1"}],"time":"2025-08-18T15:21:17.806-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a75d-73ab14946820423c410af955
      x-spanid:
      - f27ad64f-0660-7d0c-8cc6-ebb26d74a4dd
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select Id, DisplayName, SyncToken from
      Customer where Id in (''140'') STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Customer":[{"sparse":true,"Id":"140","SyncToken":"2","DisplayName":"Azmat
        Ali"}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-18T15:21:19.949-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a75f-7ff81df25fc1053f0fe2bf31
      x-spanid:
      - fb67edae-37c1-61fe-4342-d6a7e6955538
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"Query": "select * from Item where Sku in (''1090882'')
      STARTPOSITION 0 MAXRESULTS 100", "bId": "bid1"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"QueryResponse":{"Item":[{"Name":"Dan T-shirt
        - Black Frost+S","Sku":"1090882","Description":"Dan T-shirt - Black Frost+S\n\n
        - CREATE BETTER","Active":true,"FullyQualifiedName":"Dan T-shirt - Black Frost+S","Taxable":false,"UnitPrice":20,"Type":"NonInventory","IncomeAccountRef":{"value":"7","name":"Advertising-BK"},"PurchaseCost":0,"TrackQtyOnHand":false,"domain":"QBO","sparse":false,"Id":"41","SyncToken":"0","MetaData":{"CreateTime":"2023-08-29T13:09:13-07:00","LastUpdatedTime":"2023-08-29T13:09:13-07:00"}}],"startPosition":1,"maxResults":1},"bId":"bid1"}],"time":"2025-08-18T15:21:22.693-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a762-533f74910d4d3a2175a1f21f
      x-spanid:
      - 48666a80-7b23-3ac8-0b6e-de1be4ded6c6
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"BatchItemRequest": [{"bId": "0", "operation": "update", "Invoice": {"Id":
      "718", "SyncToken": "7", "sparse": true, "CustomerRef": {"value": "140", "name":
      "Azmat Ali"}, "CustomerMemo": {"value": "Thank you for your business and have
      a great day!"}, "BillAddr": {"Line1": "Mr. Azmat Ali", "Line2": "Azmat Ali",
      "Line3": "St#1", "City": null, "CountrySubDivisionCode": null, "PostalCode":
      null, "Country": null}, "ShipAddr": {"Line1": "Mr. Azmat Ali", "Line2": "Azmat
      Ali", "Line3": "St#1", "City": null, "CountrySubDivisionCode": null, "PostalCode":
      null, "Country": null}, "Line": [{"DetailType": "SalesItemLineDetail", "SalesItemLineDetail":
      {"ItemRef": {"value": "41", "name": "Dan T-shirt - Black Frost+S"}, "TaxCodeRef":
      {"value": "NON", "name": "NON"}, "Qty": 1.0, "UnitPrice": 20.0}, "Amount": 20.0,
      "Description": "Dan T-shirt - Black Frost+S\n\n - CREATE BETTER"}], "DocNumber":
      "TEST-INV-V-1115", "ExchangeRate": 1.0, "TxnDate": "2025-06-16T00:00:00+00:00",
      "DueDate": "2025-06-16T00:00:00+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox-quickbooks.api.intuit.com/v3/company/4620816365164029070/batch
  response:
    body:
      string: '{"BatchItemResponse":[{"Invoice":{"AllowIPNPayment":false,"AllowOnlinePayment":false,"AllowOnlineCreditCardPayment":false,"AllowOnlineACHPayment":false,"InvoiceLink":"https://developer.intuit.com/comingSoonview/scs-v1-707ff7d0a1d041f2aba0f992b29f8f3f1d0805f7b7fd44baa9bc73b95eb62e17f516a48db66d4774a2d551ca3460e729?locale=en_US&cta=v3invoicelink","domain":"QBO","sparse":false,"Id":"718","SyncToken":"8","MetaData":{"CreateTime":"2025-06-16T10:11:08-07:00","LastModifiedByRef":{"value":"9130350302168886"},"LastUpdatedTime":"2025-08-18T15:21:25-07:00"},"CustomField":[{"DefinitionId":"1","Name":"Department","Type":"StringType"},{"DefinitionId":"2","Name":"ExternalId","Type":"StringType"}],"DocNumber":"TEST-INV-V-1115","TxnDate":"2025-06-16","DepartmentRef":{"value":"4","name":"A
        happy department"},"CurrencyRef":{"value":"USD","name":"United States Dollar"},"ExchangeRate":1,"LinkedTxn":[{"TxnId":"726","TxnType":"Payment"}],"Line":[{"Id":"18","LineNum":1,"Description":"Dan
        T-shirt - Black Frost+S\n\n - CREATE BETTER","Amount":20.00,"DetailType":"SalesItemLineDetail","SalesItemLineDetail":{"ItemRef":{"value":"41","name":"Dan
        T-shirt - Black Frost+S"},"UnitPrice":20,"Qty":1,"ItemAccountRef":{"value":"7","name":"Advertising-BK"},"TaxCodeRef":{"value":"NON"},"TaxClassificationRef":{}}},{"Amount":20.00,"DetailType":"SubTotalLineDetail","SubTotalLineDetail":{}}],"TxnTaxDetail":{"TxnTaxCodeRef":{"value":"15"},"TotalTax":0,"TaxLine":[{"Amount":0,"DetailType":"TaxLineDetail","TaxLineDetail":{"TaxRateRef":{"value":"16"},"PercentBased":true,"TaxPercent":1,"NetAmountTaxable":0}},{"Amount":0,"DetailType":"TaxLineDetail","TaxLineDetail":{"TaxRateRef":{"value":"17"},"PercentBased":true,"TaxPercent":1.5,"NetAmountTaxable":0}},{"Amount":0,"DetailType":"TaxLineDetail","TaxLineDetail":{"TaxRateRef":{"value":"18"},"PercentBased":true,"TaxPercent":0.75,"NetAmountTaxable":0}},{"Amount":0,"DetailType":"TaxLineDetail","TaxLineDetail":{"TaxRateRef":{"value":"15"},"PercentBased":true,"TaxPercent":6.25,"NetAmountTaxable":0}}]},"CustomerRef":{"value":"140","name":"Azmat
        Ali"},"CustomerMemo":{"value":"Thank you for your business and have a great
        day!"},"BillAddr":{"Id":"688","Line1":"Mr. Azmat Ali","Line2":"Azmat Ali","Line3":"St#1"},"ShipAddr":{"Id":"689","Line1":"Mr.
        Azmat Ali","Line2":"Azmat Ali","Line3":"St#1"},"FreeFormAddress":true,"SalesTermRef":{"value":"1","name":"Due
        on receipt"},"DueDate":"2025-06-16","TotalAmt":20.00,"HomeTotalAmt":20.00,"ApplyTaxAfterDiscount":false,"PrintStatus":"NotSet","EmailStatus":"NotSet","BillEmail":{"Address":"azmat@hotglue.io"},"Balance":0,"HomeBalance":0,"PaymentMethodRef":{"value":"3","name":"Visa"},"TaxExemptionRef":{"value":"3","name":"Test
        Details"}},"bId":"0"}],"time":"2025-08-18T15:21:25.604-07:00"}'
    headers:
      Content-Type:
      - application/json
      intuit_tid:
      - 1-68a3a764-02c68010504223665c2ee4e4
      x-spanid:
      - 00270751-843f-aec2-fd53-2c76dc4e5aff
    status:
      code: 200
      message: OK
version: 1
